@page "/checkout"
@using JoArtClassLib.Art
@using JoArtClassLib.Error
@inject HttpClient Http



@if (product is null)
{
    <p>Laster produkt ...</p>
}
else
{
    <br/><br/>
    <div class="checkout-container mt-4">
        <div class="checkout-card">
            <h3 class="text-center border-bottom mb-4">Betaling</h3>
            
            <div class="row d-flex align-items-start justify-content-center gap-4 px-4">
                <div class="col-md-auto">
                    
                    <img src="@image?.ThumbnailUrl"
                         class="img-fluid rounded shadow-sm"
                         style="max-width: 300px;" />
                </div>

                <div class="col-md pt-2">
                    <p class="fw-bold">Produkt:</p>
                    <div class="mb-3">
                        <p class="mb-1 text-muted">Tittel:</p>
                        <p class="fw-semibold">@product.Title</p>
                    </div>
                    <div class="mb-3">
                        <p class="mb-1 text-muted">Dimensjoner:</p>
                        <p class="fw-semibold">@product.WidthDimension x @product.HeightDimension cm</p>
                    </div>
                    <div class="mb-3">
                        <p class="mb-1 text-muted">Pris:</p>
                        <p class="fw-bold fs-5 text-success">NOK @(product.Price?.ToString("F2") ?? "0.00")</p>
                    </div>
                </div>
            </div>
            <hr class="my-4" />
            
        </div>
    </div>
    
}

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <p class="text-danger fw-bold">@ErrorMessage</p>
}

@code {
    
    [Parameter]
    [SupplyParameterFromQuery]
    public int productId { get; set; }
    private ArtworkResponse? product;
    protected ImageResponse? image;
    
    private List<ErrorResponse> errors = new();
    private string? ErrorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            product = await Http.GetFromJsonAsync<ArtworkResponse>($"api/PublicGallery/artworks/{productId}");
            if (product is null)
            {
                ErrorMessage = "Obs! Produktet eksisterer ikke lenger.";
                return;
            }
            image = product?.Images.FirstOrDefault();
            
        }
        catch (Exception e)
        {
            ErrorMessage = "Noe gikk galt ved henting av produktet.";
            Console.WriteLine("Error fetching artwork data: " + e.Message);
            
        }
    }

}
